<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="lab17Entities" connectionString="metadata=res://*/ModelAeroflot.csdl|res://*/ModelAeroflot.ssdl|res://*/ModelAeroflot.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAB44-02\SQLEXPRESS;initial catalog=lab17;persist security info=True;user id=ИСП-31;password=1234567890;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="lab17Entities1" connectionString="metadata=res://*/ModelAeroflot.csdl|res://*/ModelAeroflot.ssdl|res://*/ModelAeroflot.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAB44-02\SQLEXPRESS;initial catalog=lab17;persist security info=True;user id=ИСП-31;password=1234567890;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>